body{
	background-image: url('../images/img-bg.jpg');
	background-size: cover;
	margin: 0px;
	padding: 0px;
	font-family: open sans;
}
/*Page de connexion*/
.header{
	width: 100%;
	height: 80px;
	display: flex;
	background-color: #042425;
	color: #f8fdfd;
}
.logo{
	width: 40%;
	height: 100%;
	margin-left: 20px;
	margin-top: 5px;
}
.title{
	width: 60%;
	height: 100%;
	font-size: 18px;
	margin-top: -12px;
}
.content{
	position: relative;
	width: 100%;
	height: 100%;
}
.login{
	position: absolute;
	top: 80px;
	left: 30%;
	width: 42%;
	height: 400px;
	background-color: #f5efef;
}
.login-header{
	position: relative;
	color: #f8fdfd;
	width: 97%;
	height: 60px;
	background-color: #51bfd0;
	padding-top: 15px;
	padding-left: 18px;
	font-size: 25px;
}
.btn-leave{
	float: right;
	margin-right: 20px;
	font-weight: bold;
}
.login-content{
	position: relative;
	top: 25px;
	left: 20px;
	width: 100%;
}
.section{
	width: 88%;
	height: 30px;
	border: 1px solid #d2cece;
	background-color: #f5f2f2;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 30px;
}
.input{
	width: 92%;
	height: 25px;
	background-color: #f5f2f2;
	font-size: 18px;
	border: none;
	padding-left: 10px;
}
.btn-blue{
	width: 130px;
	height: 45px;
	border: 1px solid #51bfd0;
	background-color: #51bfd0;
	border-radius: 5px 5px 5px 5px;
	font-size: 18px;
	color: #f8fdfd;
}
.inscription-link{
	text-decoration: none;
	color: #585252;
	margin-left: 50px;
}
.erreurMessage{
	width: 90%;
	height: 30px;
	background-color: #f1d4d4;
	font-size: 15px;
	color: #e56946;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-left: 20px;
	border-radius: 5px;
}
.input-validation{
	color: #e56946;
	margin-left: -15px;
	margin-top: 22px;
}

/*Page inscription*/
.sign-up{
	position: absolute;
	padding-left: 20px;
	top: 5px;
	left: 15%;
	width: 70%;
	height: 950px;
	background-color: #f5efef;
	border-radius: 8px 8px 8px 8px;
}
.left{
	position: relative;
	float: left;
	width: 70%;

}
.sign-up-title{
	font-size: 15px;
	margin-top: -25px;
	color: #585252;
}
.form-limit{
	width: 600px;
	margin-left: -20px;
	margin-bottom: -20px;
}
.sign-up-input{
	width: 80%;
	height: 50px;
	margin-top: -12px;
	background-color: #f5efef;
	border: 1px solid #afaeae;
	border-radius: 5px 5px 5px 5px;
	font-size: 18px;
	padding-left: 5px;
}
.sign-up-label{
	color: #6d6a6a;
	font-size: 20px;
}
.avatar-input{
	height: 30px;
	padding-top: 5px;
	float: right;
	margin-right: 125px;
	border: 1px solid #51bfd0;
	background-color: #51bfd0;
	border-radius: 5px 5px 5px 5px;
}
.btn-sign-up{
	margin-top: 20px;
	width: 200px;
	height: 50px;
	border: 1px solid #51bfd0;
	background-color: #51bfd0;
	border-radius: 5px 5px 5px 5px;
	font-size: 25px;
	color: #f8fdfd;
}
.right{
	position: relative;
	float: left;
	width: 30%;
	padding-top: 50px;
}
/*Interface admin*/
.admin-home-header{
	position: relative;
	color: #f8fdfd;
	margin-top: 5px;
	width: 98%;
	padding-top: 10px;
	margin-left: 15px;
	height: 80px;
	background-color: #51bfd0;
	font-size: 12px;
}
.admin-home-text{
	margin-left: 350px;
	width: 50%;
	text-align: center;
}
.player-home-header{
	position: relative;
	display: flex;
	color: #f8fdfd;
	margin-top: 5px;
	width: 98%;
	padding-top: -2px;
	margin-left: 15px;
	height: 110px;
	background-color: #51bfd0;
	font-size: 12px;
}
.player-home-text{
	margin-left: 350px;
	width: 50%;
	text-align: center;
}
.player-home-img-avatar{
	position: absolute;
	width: 70px;
	height: 70px;
	top: 3px;
	left: 50px;
	border-radius: 50% 50%;
	border:2px solid #f8fdfd;
}
.player-home-profil-text{
	position: absolute;
	font-size: 25px;
	top: 50px;
	left: 20px;
}
.player-home-content{
	position: absolute;
	left: 25px;
	top: 10px;
	padding: 20px;
	border-radius: 10px 10px;
	width: 93%;
	height: 600px;
	background-color: white;
}
.game-section{
	position: absolute;
	width: 55%;
	padding: 20px;
	border-radius: 15px 15px;
	border:2px solid #51bfd0;
}
.questionHeader{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	padding-top: 3px;
	height: 140px;
	background-color: #f5efef;
	border-bottom: 1px solid #51bfd0;
	border-right: 1px solid #51bfd0;
}
.questionTitle{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 35px;
}
.gameQuestion{
	font-size: 20px;
	text-align: center;
}
.gameScore{
	position: absolute;
	right: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	font-size: 18px;
	text-align: center;
	width: 80px;
	height: 30px;
	background-color: #f5efef;
	border-bottom: 1px solid #51bfd0;
	border-right: 1px solid #51bfd0;

}
.checkbox{
	position: relative;
	width: 30px;
	height: 30px;
	top: 8px;
	background-color: white;
	border: 2px solid #51bfd0;
	color: #51bfd0;
}
.gameReponses{
	position: relative;
	width: 100%;
	align-content: center;
	margin: 50px;
	height: 150px;
	font-size: 25px;
	font-weight: bold;
}
.btnSuivant{
	width: 120px;
	height: 50px;
	position: absolute;
	top: 150px;
	color: white;
	right: 50px;
	font-size: 28px;
	background-color: #51bfd0;
	border:1px solid #51bfd0;
	border-radius: 3px 3px;
}
.btnOver{
	width: 150px;
	height: 50px;
	position: absolute;
	top: 150px;
	color: white;
	right: 50px;
	font-size: 28px;
	background-color: #178a40;
	border:1px solid #178a40;
	border-radius: 3px 3px;
}
.btnPrecendent{
	width: 150px;
	height: 50px;
	position: absolute;
	top: 150px;
	color: white;
	left: -50px;
	font-size: 25px;
	background-color: #6f7273;
	border:1px solid #6f7273;
	border-radius: 3px 3px;
}
.btnLeave{
	width: 150px;
	height: 50px;
	position: absolute;
	top: 150px;
	color: white;
	left: 50px;
	font-size: 25px;
	background-color: #dc6e70;
	border:1px solid #dc6e70;
	border-radius: 3px 3px;
}
.marks-section{
	position: absolute;
	right: 20px;
	width: 35%;
	box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.20), 2px 6px 10px 0 rgba(0, 0, 0, 0.10);
}

.form-wizard-wrapper {
width: 100%;
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
}
.form-wizard-wrapper .form-wizardmove-active {
position: absolute;
width: 180px;
height: 50px;
left: 0;
border-radius: 2px;
background-color: #f5efef;
}
.form-wizard-wrapper ul {
background-color: white;
width: 100%;
height: 50px;
z-index: 1;
border-radius: 4px 4px 0px 0px;
display: flex;
justify-content: center;
position: relative;
margin: 0;
padding: 0;
}
.form-wizard-wrapper ul li {
list-style-type: none;
width: 100%;
text-align: center;
display: flex;
}
.form-wizard-wrapper ul li a {
display: block;
padding: 10px;
width: 100%;
color: #51bfd0;
text-decoration: none;
}
.form-wizard-wrapper ul li a span {
position: relative;
z-index: 1;
color: #51bfd0;
}
.form-wizard-wrapper .form-wizard-content {
background-color: #ffffff;
padding: 10px;
color: #777777;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1) 0s;
transform: translate3d(100%, 0px, 0px);
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
}
.form-wizard-wrapper .form-wizard-content.show {
transform: translate3d(0px, 0px, 0px);
}
.form-wizard-content-wrapper {
height: 400px;
position: relative;
background-color: #fff;
}
.topBestScore{
	margin-left: 30px;
}
.bestScore-data{
	text-align: center;
	width: 110px;
	padding-top: 20px;
	font-size: 20px;
	color: black;
}
.bestScore-title{
	position: relative;
	text-align: center;
}
.logout{
	position: absolute;
	top: 30px;
	left: 85%;
	width: 20%;
	font-size: 20px;
	width: 150px;
	height: 30px;
	padding-left: 15px;
	padding-top: 4px;
	border-radius: 3px;
	background-color: #3addd6;
}
.btn-logout{
	text-decoration: none;
	color: #f8fdfd;
	text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

/*Logoutpopup*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: -5px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #e56946;
}
.popup .content {
  height: 35px;
  overflow: auto;
}
.btn-yes-logout{
	width: 50px;
	height: 50px;
	color: white;
	font-size: 15px;
	text-decoration: none;
	background-color: #51bfd0;
	border-radius: 3px 3px;
	border:1px solid #51bfd0;
	margin-left: 200px;
	margin-right: 100px;
}
.btn-no-logout{
	width: 50px;
	height: 50px;
	color: white;
	font-size: 15px;
	text-decoration: none;
	background-color: #e56946;
	border-radius: 3px 3px;
	border:1px solid #e56946;
}
.bestScore{
	margin-left: 30px;
}
.point{
	font-weight: bold;
	font-size: 25px;
	padding-left: 150px;
	color: green;
}
.admin-home-content{
	position: absolute;
	margin-left: 15px;
	width: 98%;
	height: 730px;
	background-color: #f5efef;
}
.side-navbar{
	position: absolute;
	float: left;
	left: 20px;
	top: 80px;
	width: 35%;


}
.side-navbar-header{
	position: relative;
	width: 100%;
	height: 150px;
	border: 1px solid #51bfd0;
	background-color: #51bfd0;
	border-radius: 8px 8px 0px 0px;
}
.profil-avatar{
	width: 120px;
	height: 120px;
	padding: 5px;
	position: absolute;
	top: 10px;
	left: 20px;
	border-radius: 50% 50%;
	border:1px solid #4c4c4c5c;
}
.img-avatar{
	position: absolute;
	top: 7px;
	left: 7px;
	width: 90%;
	height: 90%;
	border-radius: 50% 50%;
}
.signup-avatar{
	width: 70%;
	height: 70%;
	border-radius: 50% 50%;
}
.img-profil-player{
	width: 35px;
	height: 35px;
	border-radius: 50% 50%;
}
.profil-text{
	position: absolute;
	top: 30px;
	left: 200px;
	color: #f8fdfd;
	font-size: 25px;
}
.side-navbar-content{
	position: relative;
	width: 100%;
	height: 150px;
	border: 1px solid #f8fdfd;
	background-color: #f8fdfd;
}
.list-item{
	text-decoration: none;
	width: 90%;
	height: 30px;
	padding-left: 45px;
	padding-top: 8px;
}
.nav-link{
	text-decoration: none;
	font-size: 18px;
	color: gray;

}
.list-item-active{
	text-decoration: none;
	width: 90%;
	height: 30px;
	background-color: #f5efef;
	padding-left: 43px;
	padding-top: 8px;
	border-left: 5px solid green;

}
.navbar-icon{
	float: right;
	margin-right: 10px;
}
.content-to-load{
	position: absolute;
	width: 60%;
	right: 20px;
	top: 40px;
	background-color: #f8fdfd;
	border-radius: 8px 8px 8px 8px;
}
.input-nbrQuestion{
	width: 60px;
	height: 30px;
	border: 1px solid #818181;
	opacity: 0.8;
	border-radius: 3px 3px;
}
.btn-nbrQuestion{
	width: 35px;
	height: 34px;
	background-color: #25759b;
	border: 1px solid #25759b;
	color: white;
	font-size: 12px;
	font-weight: bold;
}
/*Page de création d'un admin*/
.create-admin{
	width: 100%;
	height: 680px;
	padding-left: 25px;
}
.create-admin-title{
	font-size: 12px;
	margin-top: -22px;
	color: #585252;
}
.create-admin-limiter{
	width: 500px;
	margin-left: -25px;
	margin-bottom: 15px;
}
.create-admin-input{
	width: 70%;
	height: 40px;
	margin-top: -15px;
	border: 1px solid #afaeae;
	border-radius: 5px 5px 5px 5px;
	font-size: 18px;
	padding-left: 5px;
}
.create-admin-label{
	color: #6d6a6a;
	font-size: 15px;
}
/*Page liste des joueurs*/
.players-list{
	width: 100%;
	height: 580px;
	margin-left: 120px;
	color: gray;
}
.players-list-title{
	font-size: 20px;
	margin-left: 120px;
}
.table{
	width: 100%;
	border:1.5px solid #51bfd0;
	border-radius: 45px 45px 45px 45px;
}
.top-score-table{
	margin-left: -100px;
	padding-left: 10px;
	border:1.5px solid #51bfd0;
	border-radius: 45px 45px 45px 45px;
}
thead{
	font-size: 25px;
	font-weight: bolder;
}
.players-list td{
	text-align: center;
	width: 200px;
	height: 50px;
	margin-left: 10px;
}
/*Liste des questions*/
.questions-list{
	width: 100%;
	height: 600px;
	margin-left: 100px;
	color: gray;
	border-radius: 10% 10%;
}
.questions-list-header{
	position: relative;
	width: 50%;
	height: 50px;
	display: flex;
}
.questions-list-title{
	position: relative;
	float: left;
	width: 60%;
	left: 50px;
	font-size: 25px;
}
.questions-list-form{
	position: relative;
	float: left;
	top: 20px;
	width: 40%;
	font-size: 25px;
}
.questions-list-content{
	position: absolute;
	float: left;
	width: 100%;
	height: 400px;
	top: 80px;
	padding: 20px 30px;
	margin-left: 10px;
	color: gray;
	border:2px solid #cab4a4;
	border-radius: 10% 10%;

}
.btn_suivant{
	width: 80px;
	height: 30px;
	position: absolute;
	top: 550px;
	color: white;
	right: -85px;
	background-color: #51bfd0;
	border:1px solid #51bfd0;
	border-radius: 3px 3px;
}
.btn_precendent{
	width: 80px;
	height: 30px;
	position: absolute;
	top: 550px;
	color: white;
	left: 150px;
	background-color: #51bfd0;
	border:1px solid #51bfd0;
	border-radius: 3px 3px;
}
.question{
	margin-top: 20px;
	font-size: 20px;
	color: #947265;
	font-weight: bold;
}
.reponse{
	font-size: 18px;
	color: black;
	font-weight: bold;
}
.input-reponse{
	width: 300px;
	height: 30px;
	margin-top: 5px;
	border:1px solid #cab4a4 ;
	border-radius: 4px 4px;
}
/*creéation des questions*/
.questions-creation{
	position: relative;
	width: 75%;
	height: 600px;
	padding: 30px;
	margin-left: 80px;
	color: gray;
	border:1px solid #51bfd0;
	border-radius: 10% 10%;

}
.questions-creation-title{
	color: #51bfd0;
	margin-left: 150px;
	font-size: 30px;
	font-weight: bold;
}
.create-question-section{
	position: relative;
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
.create-question-label{
	position: absolute;
	width: 40%;
	height: 100%;
	font-size: 25px;
}
.create-question-textarea{
	float: right;
	width: 70%;
	height: 100%;
	background-color: #fbfbfb;
	border:none;
	border-right: 0.8px solid #51bfd0;
	border-bottom: 0.8px solid #51bfd0; 
	border-radius: 3px 3px 3px 3px;
}
.create-question-input{
	float: left;
	margin-left: 200px;
	width: 15%;
	height: 80%;
	color: #51bfd0;
	border:none;
	border-right: 0.8px solid #51bfd0;
	border-bottom: 0.8px solid #51bfd0;
}
.create-question-select{
	float: left;
	margin-left: 220px;
	width: 340px;
	height: 50px;
	color: #51bfd0;
	border:none;
	border-right: 0.8px solid #51bfd0;
	border-bottom: 0.8px solid #51bfd0;
}
.create-question-plus{
	float: right;
	width: 30px;
	height: 80%;
	color: #51bfd0;
	border:none;
}
.create-question-input-generated{
	float: left;
	width: 300px;
	height: 30px;
	color: #51bfd0;
	border:none;
	padding: 2px;
	background-color: #fbfbfb;
	margin-bottom: 10px;
	border-right: 0.8px solid #51bfd0;
	border-bottom: 0.8px solid #51bfd0;
}
.create-question-btn{
	width: 120px;
	height: 40px;
	float: right;
	font-size: 15px;
	font-weight: bold;
	color: #f8fdfd;
	background-color: #51bfd0;
	border:1px solid #51bfd0;
	border-radius: 8px 8px 8px 8px;
}